.favorite-button {
  cursor: pointer;

  &__inactive {
    display: block;
  }

  &__active {
    display: none;
  }

  &:hover &__inactive {
    display: none;
  }

  &:hover &__active {
    display: block;
  }

  &--favorited &__inactive {
    display: none;
  }

  &--favorited &__active {
    display: block;
  }
}
