.star-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-self: flex-end;

  &__stars {
    display: flex;
    gap: 2px;
  }

  &__star {
    font-size: 1.5rem;
    color: var(--gray-light);

    &--filled {
      color: var(---warning);
    }

    &--interactive {
      cursor: pointer;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__meta {
    font-size: 13px;
    opacity: 0.6;
  }
}
