// ─── BookingCard ──────────────────────────────────────────────────────────────
.lesson-info {
  width: 50%;

  .lesson-info__school-link {
    text-decoration: none;
    color: inherit;
  }
  // ── Title row ────────────────────────────────────────────────────────────────
  &__title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark-blue);
    letter-spacing: -0.4px;
    line-height: 2;
  }

  // favoritebutton
  .lesson-info__fav {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-light);
    cursor: pointer;

    transition:
      color 0.15s ease,
      background 0.15s ease,
      transform 0.15s ease;

    &:hover {
      color: #ef4444;
      transform: scale(1.06);
    }

    &--active {
      color: #ef4444;
    }
  }

  // ── Location + price ─────────────────────────────────────────────────────────
  &__location_price {
    display: flex;
    align-items: center;
    gap: 2rem;

    // location
    .lesson-info__location {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1rem;
      color: var(--dark-blue);
    }
  } // ── Description ──────────────────────────────────────────────────────────────

  &__description {
    font-size: 14px;
    color: var(--dark-blue);
    line-height: 1.65;
    margin-block: 1rem;
    width: 100%;
    margin-top: 2rem;
  }

  // ── Details table ─────────────────────────────────────────────────────────────

  &__details {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid var(--gray-light);
    text-transform: capitalize;
    margin-top: 2rem;
  }

  &__detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;

    & + & {
      border-top: 1px solid var(--gray-light);
    }
  }

  &__detail-label {
    color: var(--dark-blue);
    font-weight: 400;
  }

  &__detail-value {
    color: var(--dark-blue);
    font-weight: 500;
  }

  // Price badge
  .lesson-info__price-badge {
    background: var(--main-blue);
    color: var(--off-white);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: var(--radius-md);
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 1rem;
  }
}
