@use "@/styles/breakpoints" as *;

.booking-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15rem 10rem;
  gap: 4rem;

  @include mobile {
    padding: 15rem 1rem;
  }
  @include tablet {
    padding: 15rem 5rem;
  }

  @include desktop {
    padding: 15rem 10rem;
  }

  // Skol Info + favoritebutton
  &__header-row {
    display: flex;
    justify-content: space-between;
  }

  // favoritebutton
  &__fav {
    border: 1px solid red;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-light);
    cursor: pointer;

    transition:
      color 0.15s ease,
      background 0.15s ease,
      transform 0.15s ease;

    &:hover {
      color: #ef4444;
      transform: scale(1.06);
    }

    &--active {
      color: #ef4444;
    }
  }
  // ── School ───────────────────────────────────
  &__school {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__school-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
  }

  &__school-location {
    display: flex;
    align-items: center;

    gap: 1rem;
    font-size: 1rem;
    color: varvar(--dark-blue);
  }

  .wrapper {
    display: flex;
    gap: 10rem;

    flex-wrap: wrap;

    & > div {
      flex: 1;
    }
  }

  // Karta
  &__map {
    flex: 1;
    position: sticky;
    top: 24px;
    height: 100%;

    border-radius: 16px;
    overflow: hidden;
  }

  &__map-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f3f4f6;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.4);
  }
}
