.my-favorites {
  width: clamp(300px, 100%, 2000px);
  margin: 0 auto;
  padding: 15rem 1rem;
  border: 1px solid red;

  &__section {
    width: 100%;

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-template-rows: auto;
      gap: 3rem;

      margin-block: 2rem;
    }
  }

  h1 {
    margin-block: 2rem;
  }
}
