@use "@/styles/breakpoints" as *;

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=DM+Sans:wght@300;400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-blue: #277be5;
  --dark-blue: #080621;
  --light-blue: #d2e6ff;
  --green-pale: #d1fae5;
  --off-white: #f6f6f6;
  --white: #ffffff;
  --gray-dark: #636363;
  --gray-light: #d9d9d9;
  --success: #5e7e5d;
  --warning: #dec488;
  --danger: #de7b70;
  --radius-lg: 50px;
  --radius-md: 20px;
  --radius-sm: 10px;
  --shadow-card: 0 8px 32px rgba(0, 0, 0, 0.18);
  --font-display: "Rubik", sans-serif;
  --font-body: "Inter", sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: var(--font-body);
  scroll-behavior: smooth;
}

main {
  background-color: var(--off-white);
}

.main-layout {
  margin-top: 5rem;
  padding-block: 5rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  // 4. laptop skärmar (1024px+)
  @include mobile {
    padding: 8rem 1rem;
  }

  // 4. laptop skärmar (1024px+)
  @include tablet {
    padding: 10rem 2rem;
  }

  //desktop-width: 1024px;
  @include desktop {
    padding: 5rem 2rem;
  }

  //desktop-width: 1024px;
  @include medium-screens {
    padding: 8rem 2rem;
  }

  //large-screens-width: 1700px;
  @include large-screens {
    padding: 8rem 2rem;
  }

  //xl-screens-width: 2000px;
  @include xl-screens {
    padding: 8rem 5rem;
  }
}
