@use "@/styles/breakpoints" as *;

.explore {
  width: 100%;
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  // 4. laptop skärmar (1024px+)
  @include mobile {
    padding: 10rem 1rem;
  }

  // 4. laptop skärmar (1024px+)
  @include tablet {
    padding: 10rem 2rem;
  }

  //desktop-width: 1024px;
  @include desktop {
    padding: 10rem 2rem;
  }

  //large-screens-width: 1700px;
  @include large-screens {
    padding: 10rem 2rem;
  }

  //xl-screens-width: 2000px;
  @include xl-screens {
    padding: 10rem 5rem;
  }

  &__title {
    text-align: left;
    margin-block: 1rem;
    margin-right: auto;
  }

  &__split {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;

    //mobile-width: <768px
    @include mobile {
      flex-direction: column;
    }

    //tablet-width: 768px;
    @include tablet {
      flex-direction: column;
    }

    //desktop-width: 1024px;
    @include desktop {
      flex-direction: column;
    }

    //medium-screens-width: 1300px;
    @include medium-screens {
      flex-direction: column;
    }

    //large-screens-width: 1700px;
    @include large-screens {
      flex-direction: row-reverse;
    }
  }

  &__cards {
    flex: 2;

    @include tablet {
      width: 100%;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      width: 100%;

      // 2. Mobil (0 - 767px)
      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }

      // 3. Tablet och uppåt (768px+)
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }

      //desktop-width: 1024px;

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }

      //medium-screens-width: 1300px;
      @include medium-screens {
        grid-template-columns: repeat(3, 1fr);
      }

      //large-screens-width: 1700px;
      @include large-screens {
        grid-template-columns: repeat(3, 1fr);
      }

      // 4. Större skärmar (2000px+)
      @include xl-screens {
        grid-template-columns: repeat(3, 1fr);
      }

      // 4. Större skärmar (2200px+)
      @include xxl-screens {
        grid-template-columns: repeat(4, 1fr);
      }

      & > div {
        width: 100%;
        display: flex;
      }
    }
  }

  &__map {
    position: sticky;
    flex: 1;
    top: 100px;
    height: calc(100vh - 200px);

    @include mobile {
      display: none;
    }
  }
}
