@use "@/styles/breakpoints" as *;

.explore {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: left;
    margin-block: 1rem;
    margin-right: auto;
  }

  &__split {
    display: flex;
    gap: 2rem;

    @include tablet {
      flex-direction: column-reverse;
    }

    @include mobile {
    }
  }

  &__cards {
    flex: 1; // Tar upp resterande plats (ca 60%)
    min-width: 0;

    @include tablet {
      width: 100%;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1.5rem;
      width: 100%;

      @include tablet {
        grid-template-columns: repeat(4, 1fr);
      }

      @include mobile {
        grid-template-columns: 1fr 1fr;
      }

      // Varje wrapper-div runt Card
      & > div {
        width: 100%;
        display: flex;
      }
    }
  }

  &__map {
    width: 40%;
    height: calc(100vh - 200px);
    position: sticky;
    top: 100px;
    border-radius: 16px;
    overflow: hidden;

    @include tablet {
      width: 100%;
      height: 400px;
      position: relative;
      top: 0;
    }
  }
}
